<div id="<%= dom_id producto3 %>">
  <p>
    <strong>Nombre:</strong>
    <%= producto3.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= producto3.descripcion %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= producto3.precio %>
  </p>

</div>
