
.medio{
    width: 600px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px !important;
    padding: 20px;
}

.botonaccion{
    background-color: red;
    width: 400px;
    height: 70px;
    margin-top: 20px;
}

.grande{
    font-size: 33px;
}

.otraclase{
    color: green;
}

.blanco{
    color: white;
}